body {
    font-family: Arial;
    background: #f1f3f6;
    text-align: center;
}

.box {
    background: white;
    width: 320px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px #aaa;
}

input, select, button {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
}
